* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-body {
    width: 320px;
    border-radius: 20px;
    background: #eeeeee;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), inset 0px -3px 10px rgba(255, 255, 255, 0.05);
    padding: 20px;
}

.calc-screen {
    background: #eeeeee;
    border-radius: 15px;
    border: 2px solid #c9c9c9;
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    font-size: 28px;
    color: #000000;
    font-weight: bold;
}

#calc-display {
    width: 100%;
    border: none;
    background: transparent;
    color: #0b0b0b;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    outline: none;
}

.calc-button-row {
    display: flex;
    margin-bottom: 10px;
}

.button {
    flex: 1;
    background: rgb(211, 211, 211);
    border: none;
    margin: 5px;
    height: 60px;
    border-radius: 40px;
    padding: 16px;
    text-align: center;
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), inset 0px -2px 6px rgba(255, 255, 255, 0.03);
}

.button:hover {
    background: rgb(128, 128, 128);
    transform: translateY(-3px); /* Subtle lift effect */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4), inset 0px -2px 6px rgba(255, 255, 255, 0.05);
}

.button:active {
    background: #444; /* Pressed button state */
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.6);
    transform: translateY(0);
}

.button.zero {
    flex: 2; /* Make the "0" button twice as wide */
}

.button.c {
    background: #d9534f; /* Red for clear */
    color: white;
}

.button.c:hover {
    background: #e74c3c;
}

.button:last-child {
    margin-right: 0;
}

.button.equals {
    background: #3498db; /* Blue for equals */
    color: white;
}

.button.equals:hover {
    background: #2980b9;
}

.button.backspace, .button.divide,
.button.multiply, .button.add, 
.button.subtract {
    color: #3498db;
}

.button.backspace {
    font-size: 18px;
}
